.item-list-container {
  padding: 20px;
  background-color: #000; /* Fondo negro */
}

.product-card {
  background-color: white; /* Fondo blanco para las tarjetas */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 300px; /* Limita el ancho máximo de la tarjeta */
}